{% extends 'base.html' %}

{% block title %}
    Каталог ПК
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Каталог персональних комп'ютерів</h2>

    <div class="row">
        {% for computer in computers %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ computer.image.url }}" class="card-img-top" alt="{{ computer.pc_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ computer.pc_name }}</h5>
                    <h6 class="card-title text-secondary">CPU: {{ computer.cpu_type }} {{ computer.cpu_series }} {{ computer.cpu_model }}</h6>
                    <h6 class="card-title text-secondary">GPU: {{ computer.gpu_type }} {{ computer.gpu_model }} {{ computer.gpu_ram }}GB</h6>
                    <h6 class="card-title text-secondary">RAM: {{ computer.ram_type }} {{ computer.ram_size }}</h6>
                    <h6 class="card-title text-secondary">DISK: {{ computer.disk_type }} {{ computer.disk_value }}GB</h6>
                    {% if computer.in_stock %}
                    <span class="text-success">В наявності</span>
                    {% else %}
                    <span class="text-danger">В наявності</span>
                    {% endif %}
                    <span>| Автор: {{ computer.author }}</span>
                    <a href="{% url 'computer_detail' computer.id %}" class="btn btn-primary mt-3">Детальніше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
