{% extends 'base.html' %}

{% block title %}Профіль користувача{% endblock %}

{% block content %}
    <div class="container text-center">
        <h2 class="mt-4">Профіль користувача</h2>

        <div class="card col-md-4 mb-4 container d-flex align-items-center justify-content-center">
            <div class="card-body">
                <h4 class="card-title">{{ user.username }}</h4>
                <p class="card-text"><strong>Ім'я:</strong> {{ user.first_name }}</p>
                <p class="card-text"><strong>Прізвище:</strong> {{ user.last_name }}</p>
                <p class="card-text"><strong>Електронна пошта:</strong> {{ user.email }}</p>
                <p class="card-text"><a href="{% url 'password_change' %}" class="btn btn-warning">Змінити пароль</a></p>
            </div>
        </div>

        <!-- Кнопка для зміни пароля -->

    </div>
{% endblock %}
