<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container justify-content-center">
          <a class="navbar-brand" href="{% url 'home' %}">All films</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'filter_form' %}">Filter form</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>

